@using System.Reflection
@using Microsoft.AspNetCore.SignalR.Client
@using OpenShock.LocalRelay.Backend
@using OpenShock.LocalRelay.Config
@using OpenShock.LocalRelay.Utils
@using OpenShock.SDK.CSharp.Hub
@using Semver
@inject OpenShockApi Api
@inject OpenShockHubClient ApiHubClient
@inject ISnackbar Snackbar
@inject ConfigManager ConfigManager
@implements IDisposable

@page "/dash/dashboard"

<div class="dashboard-box">
    <MudPaper Outlined="true" Elevation="1" Class="rounded-lg mud-paper-padding item" Style="text-align: center">
        <MudText Typo="Typo.h6">Welcome to LocalRelay</MudText>
        <MudText Typo="Typo.body2">Version @(Version.WithoutMetadata().ToString())</MudText>
        <br/>
        <br/>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Custom.Brands.GitHub" OnClick="OpenGithub">GitHub</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Bolt" OnClick="OpenOpenShock">OpenShock</MudButton>
        <MudButton OnClick="() => throw new Exception()">Test</MudButton>
    </MudPaper>
</div>

<style>
    .dashboard-box {
        display: grid;
        
        align-items: stretch;

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        
        grid-gap: 10px;

        justify-items: stretch;
        
        width: 100%;
        height: 100%;
        
        overflow: auto;
        
    }
    
    .dashboard-box .item {

    }
    
    .dashboard-box .discord {
            grid-area: 2 / 2 / 4 / 4;
        }

    .dashboard-box .item:hover {
        box-shadow: 0 0 10px 0 rgba(124, 124, 124, 0.39);
    }
</style>

@code {
    private static readonly SemVersion Version = SemVersion.Parse(typeof(SideBar).Assembly.GetCustomAttribute<AssemblyInformationalVersionAttribute>()!.InformationalVersion, SemVersionStyles.Strict);

    private void OpenOpenShock() => UiUtils.OpenUrl("https://openshock.org", Snackbar);
    private void OpenGithub() => UiUtils.OpenUrl("https://github.com/OpenShock/ShockOsc", Snackbar);

    protected override void OnInitialized()
    {
        
    }
    
    public void Dispose()
    {
        
    }

}