@using OpenShock.Desktop.ModuleBase
@using OpenShock.LocalRelay.Services
@implements IAsyncDisposable

@page "/dash/serial"

<MudPaper Outlined="true" Class="rounded-lg mud-paper-padding d-flex" Style="position: relative; flex-direction: column">

    <MudButton OnClick="RefreshSerialPorts" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Refresh" Color="Color.Primary" Style="margin-right: 10px;">Refresh Serial Ports</MudButton>
    <MudSelect Variant="Variant.Outlined" @bind-Value="_selectedSerialPort" Label="Serial Port" @bind-Value:after="SelectedSerialPortChanged">
        @foreach (var port in _serialPorts)
        {
            <MudSelectItem Value="@port">@port</MudSelectItem>
        }
    </MudSelect>

    <br/>

    <MudPaper Outlined="true" Class="rounded-lg mud-paper-padding d-flex" Style="position: relative; flex-direction: column; height: 500px" @onkeydown="InputKey">

        <h2>Serial Terminal</h2>

        <div style="flex-grow: 1; overflow-y: auto; display: flex; flex-direction: column-reverse; height: 100%">

            <pre>
                @if (FlowManager.SerialPortClient?.RxConsoleBuffer == null)
                {
                    <span>Serial Port is not connected</span>
                }
                else
                {
                    @foreach (var line in FlowManager.SerialPortClient.RxConsoleBuffer)
                    {
                        @line
                    }
                }
            </pre>
        </div>
        
        <MudTextField Style="height: 0; width: 0;" @ref="_bogus" T="string"></MudTextField>
        
        <MudTextField
            @ref="_terminalInputField" @bind-Value="@_terminalInput" Immediate="true"/>
    </MudPaper>

</MudPaper>

@code {
    [ModuleInject] private FlowManager FlowManager { get; set; } = null!;
    [ModuleInject] private SerialService SerialService { get; set; } = null!;
    
    private string? _selectedSerialPort;
    private string[] _serialPorts = [];
    private string _terminalInput = string.Empty;
    
    private MudTextField<string> _terminalInputField = null!;
    private MudTextField<string> _bogus = null!;
    private IAsyncDisposable _consoleBufferUpdateSubscription = null!;


    protected override async Task OnInitializedAsync()
    {
        RefreshSerialPorts();
        _consoleBufferUpdateSubscription = await FlowManager.OnConsoleBufferUpdate.SubscribeAsync(() => InvokeAsync(StateHasChanged));
    }

    private void RefreshSerialPorts()
    {
        _serialPorts = SerialService.GetSerialPorts();
    }

    private async Task SelectedSerialPortChanged()
    {
        if (_selectedSerialPort != null)
            await FlowManager.ConnectSerialPort(_selectedSerialPort);
    }

    private async Task InputKey(KeyboardEventArgs e)
    {
        if (e.Code is not ("Enter" or "NumpadEnter")) return;
        
        FlowManager.SerialPortClient?.QueueCommand(_terminalInput + "\r\n");
        _terminalInput = string.Empty;
        await _terminalInputField.Clear();
        await _bogus.InputReference!.ElementReference.FocusAsync();
        await _terminalInputField.InputReference!.ElementReference.FocusAsync();
        
        await InvokeAsync(StateHasChanged);
    }


    public async ValueTask DisposeAsync()
    {
        await _consoleBufferUpdateSubscription.DisposeAsync();
            
        await _terminalInputField.DisposeAsync();
        await _bogus.DisposeAsync();
    }

}